* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*------ temporary styles for structural html -------*/

*{
    padding: 0.5 rem;
    border: 2px solid rgb(225,225,225)
}
body { border: none;}
html { border: none;}